
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<body>
    <!-- Main Container -->
    <main id="main-container">
        <!-- Page Content -->
        <div class="bg-image" style="background-image: url('/Images/mitya-ivanov-2HWkORIX3II-unsplash.jpg');">
            <div class="hero bg-white-90">
                <div class="hero-inner">
                    <div class="content content-full text-center">
                        <h1 class="display-4 fw-bold text-black mb-2">
                            <span class="text-dark">Scan</span><span class="text-primary">Me</span><i class="fa fa-qrcode ms-1"></i>
                        </h1>
                        <h3 class="fw-normal text-black-50 mb-3">Share Your Network with One Scan.</h3>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <a class="block block-rounded shadow bg-white-25 block-transparent block-link-pop" href="javascript:void(0)">
                                    <div class="block-content">
                                        <h3 class="fw-semibold">Share and Connect Instantly</h3>
                                        <p>Your unique QR code enables effortless connections! Share it on business cards, resumes, websites, or social media profiles. Anyone who scans your code gains instant access to your curated details.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="mb-5">
                            <a class="btn btn-hero btn-primary" href="/User/SignIn">
                                <i class="fa fa-fw fa-rocket opacity-50 me-1"></i> Get Started
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Page Content -->
    </main>
    <!-- END Main Container -->
</body>
