@{
    Layout = null;
}
<!-- Hero -->
<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-grow-1 fs-3 fw-semibold my-2 my-sm-3">Social Media Links</h1>
        </div>
    </div>
</div>
<!-- END Hero -->
<!-- Page Content -->
<div class="content">

    <!-- Full Table -->
    <div class="block block-rounded">
        <div class="block-header block-header-default">
            <h3 class="block-title">Full Table</h3>
            <div class="block-options">
                <button type="button" class="btn-block-option">
                    <i class="si si-settings"></i>
                </button>
            </div>
        </div>
        <div class="block-content">
            <p>
                The first way to make a table responsive is to wrap it with <code>&lt;div class=&quot;table-responsive&quot;&gt;&lt;/div&gt;</code>. This way, the table will be horizontally scrollable and all data will be accessible on smaller screens. You could also append the following modifiers to the <code>table-responsive</code> to apply the horizontal scrolling on different screen widths: <code>-sm</code>, <code>-md</code>, <code>-lg</code>, <code>-xl</code>.
            </p>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-vcenter">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 100px;">
                                <i class="far fa-user"></i>
                            </th>
                            <th>Name</th>
                            <th style="width: 30%;">Email</th>
                            <th style="width: 15%;">Access</th>
                            <th class="text-center" style="width: 100px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <img class="img-avatar img-avatar48" src="/assets/media/avatars/avatar3.jpg" alt="">
                            </td>
                            <td class="fw-semibold">
                                <a href="be_pages_generic_profile.html">Lisa Jenkins</a>
                            </td>
                            <td>client1<em class="text-muted">@@example.com</em></td>
                            <td>
                                <span class="badge bg-warning">Trial</span>
                            </td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-alt-secondary" data-bs-toggle="tooltip" title="Edit">
                                        <i class="fa fa-pencil-alt"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-alt-secondary" data-bs-toggle="tooltip" title="Delete">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <img class="img-avatar img-avatar48" src="/assets/media/avatars/avatar7.jpg" alt="">
                            </td>
                            <td class="fw-semibold">
                                <a href="be_pages_generic_profile.html">Amanda Powell</a>
                            </td>
                            <td>client2<em class="text-muted">@@example.com</em></td>
                            <td>
                                <span class="badge bg-info">Business</span>
                            </td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-alt-secondary" data-bs-toggle="tooltip" title="Edit">
                                        <i class="fa fa-pencil-alt"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-alt-secondary" data-bs-toggle="tooltip" title="Delete">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <img class="img-avatar img-avatar48" src="/assets/media/avatars/avatar3.jpg" alt="">
                            </td>
                            <td class="fw-semibold">
                                <a href="be_pages_generic_profile.html">Amanda Powell</a>
                            </td>
                            <td>client3<em class="text-muted">@@example.com</em></td>
                            <td>
                                <span class="badge bg-warning">Trial</span>
                            </td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-alt-secondary" data-bs-toggle="tooltip" title="Edit">
                                        <i class="fa fa-pencil-alt"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-alt-secondary" data-bs-toggle="tooltip" title="Delete">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <img class="img-avatar img-avatar48" src="/assets/media/avatars/avatar2.jpg" alt="">
                            </td>
                            <td class="fw-semibold">
                                <a href="be_pages_generic_profile.html">Andrea Gardner</a>
                            </td>
                            <td>client4<em class="text-muted">@@example.com</em></td>
                            <td>
                                <span class="badge bg-warning">Trial</span>
                            </td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-alt-secondary" data-bs-toggle="tooltip" title="Edit">
                                        <i class="fa fa-pencil-alt"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-alt-secondary" data-bs-toggle="tooltip" title="Delete">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <img class="img-avatar img-avatar48" src="/assets/media/avatars/avatar5.jpg" alt="">
                            </td>
                            <td class="fw-semibold">
                                <a href="be_pages_generic_profile.html">Danielle Jones</a>
                            </td>
                            <td>client5<em class="text-muted">@@example.com</em></td>
                            <td>
                                <span class="badge bg-warning">Trial</span>
                            </td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-alt-secondary" data-bs-toggle="tooltip" title="Edit">
                                        <i class="fa fa-pencil-alt"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-alt-secondary" data-bs-toggle="tooltip" title="Delete">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END Full Table -->
    <!-- Dynamic Table Simple -->
    <div class="block block-rounded">
        <div class="block-header block-header-default">
            <h3 class="block-title">
                Recent :
            </h3>
        </div>
        <div class="block-content block-content-full">
            <!-- DataTables init on table by adding .js-dataTable-simple class, functionality is initialized in js/pages/be_tables_datatables.min.js which was auto compiled from _js/pages/be_tables_datatables.js -->
            <table class="table table-hover table-vcenter js-table-sections table-responsive">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 80px;"></th>
                        <th>Name</th>
                        <th class="d-none d-sm-table-cell" style="width: 30%;">Email</th>
                        <th style="width: 15%;">Registered</th>
                    </tr>
                </thead>
                <tbody class="js-table-sections-header">
                    <tr>
                        <td class="text-center">
                            <i class="fa fa-angle-right text-muted"></i>
                        </td>
                        <td class="fw-semibold">Lori Grant</td>
                        <td class="d-none d-sm-table-cell">
                            client1<em class="text-muted">@@example.com</em>
                        </td>
                        <td>
                            <em class="text-muted">8 days ago</em>
                        </td>
                    </tr>
                </tbody>
                <tbody class="fs-sm">
                    <tr>
                        <td class="text-center"></td>
                        <td class="fw-semibold">+ $843,00</td>
                        <td>
                            <i class="fab fa-paypal"></i>
                        </td>
                        <td class="d-none d-sm-table-cell">
                            <em class="text-muted">March 10, 2018 09:41</em>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="fw-semibold">+ $863,00</td>
                        <td>
                            <i class="fab fa-paypal"></i>
                        </td>
                        <td class="d-none d-sm-table-cell">
                            <em class="text-muted">March 20, 2018 09:41</em>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="fw-semibold">+ $569,00</td>
                        <td>
                            <i class="fab fa-paypal"></i>
                        </td>
                        <td class="d-none d-sm-table-cell">
                            <em class="text-muted">March 17, 2018 09:41</em>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="fw-semibold">+ $440,00</td>
                        <td>
                            <i class="fab fa-paypal"></i>
                        </td>
                        <td class="d-none d-sm-table-cell">
                            <em class="text-muted">March 27, 2018 09:41</em>
                        </td>
                    </tr>
                </tbody>
                <tbody class="js-table-sections-header">
                    <tr>
                        <td class="text-center">
                            <i class="fa fa-angle-right text-muted"></i>
                        </td>
                        <td class="fw-semibold">Adam McCoy</td>
                        <td class="d-none d-sm-table-cell">
                            client2<em class="text-muted">@@example.com</em>
                        </td>
                        <td>
                            <em class="text-muted">6 days ago</em>
                        </td>
                    </tr>
                </tbody>
                <tbody class="fs-sm">
                    <tr>
                        <td class="text-center"></td>
                        <td class="fw-semibold">+ $843,00</td>
                        <td>
                            <i class="fab fa-paypal"></i>
                        </td>
                        <td class="d-none d-sm-table-cell">
                            <em class="text-muted">March 10, 2018 09:41</em>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="fw-semibold">+ $863,00</td>
                        <td>
                            <i class="fab fa-paypal"></i>
                        </td>
                        <td class="d-none d-sm-table-cell">
                            <em class="text-muted">March 20, 2018 09:41</em>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="fw-semibold">+ $569,00</td>
                        <td>
                            <i class="fab fa-paypal"></i>
                        </td>
                        <td class="d-none d-sm-table-cell">
                            <em class="text-muted">March 17, 2018 09:41</em>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="fw-semibold">+ $440,00</td>
                        <td>
                            <i class="fab fa-paypal"></i>
                        </td>
                        <td class="d-none d-sm-table-cell">
                            <em class="text-muted">March 27, 2018 09:41</em>
                        </td>
                    </tr>
                </tbody>
                @*
                        <tr>
                            <td class="text-center">3</td>
                            <td class="fw-semibold">Jesse Fisher</td>
                            <td class="d-none d-sm-table-cell">
                                client3<em class="text-muted">@@example.com</em>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <span class="badge bg-success">VIP</span>
                            </td>
                            <td>
                                <em class="text-muted">2 days ago</em>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">4</td>
                            <td class="fw-semibold">Carol Ray</td>
                            <td class="d-none d-sm-table-cell">
                                client4<em class="text-muted">@@example.com</em>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <span class="badge bg-warning">Trial</span>
                            </td>
                            <td>
                                <em class="text-muted">3 days ago</em>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">5</td>
                            <td class="fw-semibold">Susan Day</td>
                            <td class="d-none d-sm-table-cell">
                                client5<em class="text-muted">@@example.com</em>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <span class="badge bg-danger">Disabled</span>
                            </td>
                            <td>
                                <em class="text-muted">8 days ago</em>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">6</td>
                            <td class="fw-semibold">Carol Ray</td>
                            <td class="d-none d-sm-table-cell">
                                client6<em class="text-muted">@@example.com</em>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <span class="badge bg-success">VIP</span>
                            </td>
                            <td>
                                <em class="text-muted">5 days ago</em>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">7</td>
                            <td class="fw-semibold">Jeffrey Shaw</td>
                            <td class="d-none d-sm-table-cell">
                                client7<em class="text-muted">@@example.com</em>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <span class="badge bg-warning">Trial</span>
                            </td>
                            <td>
                                <em class="text-muted">10 days ago</em>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">8</td>
                            <td class="fw-semibold">Scott Young</td>
                            <td class="d-none d-sm-table-cell">
                                client8<em class="text-muted">@@example.com</em>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <span class="badge bg-success">VIP</span>
                            </td>
                            <td>
                                <em class="text-muted">6 days ago</em>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">9</td>
                            <td class="fw-semibold">Wayne Garcia</td>
                            <td class="d-none d-sm-table-cell">
                                client9<em class="text-muted">@@example.com</em>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <span class="badge bg-info">Business</span>
                            </td>
                            <td>
                                <em class="text-muted">10 days ago</em>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">10</td>
                            <td class="fw-semibold">Laura Carr</td>
                            <td class="d-none d-sm-table-cell">
                                client10<em class="text-muted">@@example.com</em>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <span class="badge bg-info">Business</span>
                            </td>
                            <td>
                                <em class="text-muted">3 days ago</em>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">11</td>
                            <td class="fw-semibold">Brian Cruz</td>
                            <td class="d-none d-sm-table-cell">
                                client11<em class="text-muted">@@example.com</em>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <span class="badge bg-info">Business</span>
                            </td>
                            <td>
                                <em class="text-muted">4 days ago</em>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">12</td>
                            <td class="fw-semibold">Jeffrey Shaw</td>
                            <td class="d-none d-sm-table-cell">
                                client12<em class="text-muted">@@example.com</em>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <span class="badge bg-success">VIP</span>
                            </td>
                            <td>
                                <em class="text-muted">9 days ago</em>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">13</td>
                            <td class="fw-semibold">Judy Ford</td>
                            <td class="d-none d-sm-table-cell">
                                client13<em class="text-muted">@@example.com</em>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <span class="badge bg-primary">Personal</span>
                            </td>
                            <td>
                                <em class="text-muted">4 days ago</em>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">14</td>
                            <td class="fw-semibold">David Fuller</td>
                            <td class="d-none d-sm-table-cell">
                                client14<em class="text-muted">@@example.com</em>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <span class="badge bg-info">Business</span>
                            </td>
                            <td>
                                <em class="text-muted">9 days ago</em>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">15</td>
                            <td class="fw-semibold">Carol Ray</td>
                            <td class="d-none d-sm-table-cell">
                                client15<em class="text-muted">@@example.com</em>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <span class="badge bg-danger">Disabled</span>
                            </td>
                            <td>
                                <em class="text-muted">5 days ago</em>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">16</td>
                            <td class="fw-semibold">Betty Kelley</td>
                            <td class="d-none d-sm-table-cell">
                                client16<em class="text-muted">@@example.com</em>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <span class="badge bg-success">VIP</span>
                            </td>
                            <td>
                                <em class="text-muted">3 days ago</em>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">17</td>
                            <td class="fw-semibold">Lori Grant</td>
                            <td class="d-none d-sm-table-cell">
                                client17<em class="text-muted">@@example.com</em>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <span class="badge bg-danger">Disabled</span>
                            </td>
                            <td>
                                <em class="text-muted">4 days ago</em>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">18</td>
                            <td class="fw-semibold">Adam McCoy</td>
                            <td class="d-none d-sm-table-cell">
                                client18<em class="text-muted">@@example.com</em>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <span class="badge bg-danger">Disabled</span>
                            </td>
                            <td>
                                <em class="text-muted">10 days ago</em>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">19</td>
                            <td class="fw-semibold">Lori Grant</td>
                            <td class="d-none d-sm-table-cell">
                                client19<em class="text-muted">@@example.com</em>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <span class="badge bg-primary">Personal</span>
                            </td>
                            <td>
                                <em class="text-muted">8 days ago</em>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">20</td>
                            <td class="fw-semibold">Lori Grant</td>
                            <td class="d-none d-sm-table-cell">
                                client20<em class="text-muted">@@example.com</em>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <span class="badge bg-success">VIP</span>
                            </td>
                            <td>
                                <em class="text-muted">6 days ago</em>
                            </td>
                        </tr>
                    </tbody>*@
            </table>
        </div>
    </div>
    <!-- END Dynamic Table Simple -->

</div>
<!-- END Page Content -->
